@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

*{
    font-family: "Lexend Deca", sans-serif;
    margin: 0%;
}
:root{
    --Bright-orange: hsl(31, 77%, 52%)
    --Dark-cyan: hsl(184, 100%, 22%)
    --Very-dark-cyan: hsl(179, 100%, 13%)
    --Transparent-white(paragraphs): hsla(0, 0%, 100%, 0.75)
    --Very-light-gray(background, headings, buttons): hsl(0, 0%, 95%)
}

.colunas{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 1000px;
    height: 800px;
}

h3{
    color:hsl(0, 0%, 95%) ;
}
.sedan{
    background-color:hsl(31, 77%, 52%);
    color: hsla(0, 0%, 100%, 0.75);
    align-items: center;
    flex-direction: column;
    height: max-content;
    width: max-content;

}

.suvs{
    background-color: hsl(184, 100%, 22%) ;
    color: hsla(0, 0%, 100%, 0.75);
    align-items: center;
    flex-direction: column;
    height: max-content;
    width: max-content;
}

.luxury{
    background-color:hsl(179, 100%, 13%) ;
    color:  hsla(0, 0%, 100%, 0.75);
    align-items: center;
    flex-direction: column;
    height: max-content;
    width: max-content;
}